<html>
<head>
        <style type="text/css">
            ul {
                margin:0;
                padding:0;
                text-align: center;
                list-style:none;                
            }
            ul  li {
                padding: 2px 5px;               
            }
        </style>

	<title>GeneNotFound</title>
</head>
<body>
  <center>
    <h2>Invalid Gene Input</h2>
    <hr>
    <h3>The gene you’re looking for is not in our database.</h3>
    <hr>
    <ul>
      <li style="font-size:80%;">This could be due to a misspelling.</li>
      <li style="font-size:80%;">Follow the link below back to the input page and try again.</li>
      <hr>
      <button><li><a href="http://192.168.250.110/">Return to Input Form</a></li></button>
      </ul>
    <hr>
    </center>
</body>
</html>
